@media (max-width:1100px){
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:1030px){
    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0rem;
    }
}

/* @media (max-width:730px){
    html{
        font-size: 50%;
    }
} */
@media (max-width:420px){
    header{
        width: 100vw;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .achievement .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 2rem 0;
    }
}

 